---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    You can get a formal pdf version <a class="underline" href="/Yinjingya_academic-CV.pdf" target="_blank">here</a>.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Nanjing University of Information Science and Technology, GPA 3.82"
      subtitle="2021 to 2025, B.S. in Atmospheric Science, Nanjing, China"
    />
    <!--<TimeLineElement-->
    <!--  title="Title Name"-->
    <!--  subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"-->
    <!--/>-->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Wave Image Inversion Project based on Transfer Learning"
      subtitle="From 08/2023 to present at NUIST, Nanjing, China"
    >
      Completed a paper titled "A New Method to Observe Wave Run-up from Video Images Based on Transfer Learning". Currently in the process of submitting it to the Remote Sensing journal as the second author, with my supervisor as the first author.
    </TimeLineElement>
    <TimeLineElement
      title="Evaluation Project of Offshore Wind Farm Site Selection Plan"
      subtitle="From 09/2023 to present at NUIST, Nanjing, China"
    >
      Completed a paper titled "Enhanced TOPSIS-RSR Approach for Evaluating Offshore Wind Farm Site Selection Plans". Intending to publish this paper as the first author in a core journal.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Awards & Honor</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      Meteorological Elite Scholarship, NUIST (4000 CNY, Top 10%)
    </li>
    <li>
      First Prize Scholarship, NUIST
    </li>
    <li>
      Merit Student, NUIST
    </li>
    <li>
      First Prize in China University Big Data Challenge
    </li>
    <li>
      Second Prize in May Day Mathematical Contest In Modeling
    </li>
    <li>
      Registered Volunteer, China
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <!--<ul class="list-disc md:columns-5 columns-2 mx-6">-->
  <ul class="list-disc columns-1 mx-6">
    <li><span class="font-bold">R Data Visualization and Mining Tech Stack:</span> Proficient in data analysis using the tidyverse style. Skilled
      in data visualization techniques using ggplot2. Well-versed in machine learning coding techniques using mlr3verse.
      Experienced in coding pipelines, graph learners, and cross-validation.</li>
    <li><span class="font-bold">Python Meteorological Data Analysis Tech Stack:</span> Familiar with packages such as Xarray, metPy, Cartopy,
      etc. Experienced in implementing deep learning and transfer learning projects.</li>
    <li><span class="font-bold">Weather Forecasting Expertise:</span> Possess a solid understanding of the fundamental principles underlying weather
      forecasting. Familiar with the workflow of statistical forecasting and numerical model forecasting.</li>
    <li><span class="font-bold">Familiarity with Numerical Modeling:</span> Have experience working with numerical models such as WRF and
      SWAN. Able to utilize WRFDA for radar data assimilation purposes.</li>
  </ul>
</BaseLayout>
