<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
    <a
        href="mailto:jingya.yin@foxmail.com"
        target="_blank"
        class="mx-3"
        aria-label="Email"
        title="Email"
    >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M20 4H6c-1.103 0-2 .897-2 2v5h2V8l6.4 4.8a1.001 1.001 0 0 0 1.2 0L20 8v9h-8v2h8c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm-7 6.75L6.666 6h12.668L13 10.75z"></path><path d="M2 12h7v2H2zm2 3h6v2H4zm3 3h4v2H7z"></path></svg>
    </a>
    <a href="/wechat_qrcode.jpg" target="_blank" class="mx-3" aria-label="WeChat" title="WeChat">
        <svg t="1702804894424"  class="icon" viewBox="0 0 1171 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1473" width="24" height="24"><path d="M331.556571 263.460571q0-23.405714-14.262857-37.741714t-37.741714-14.262857q-24.576 0-43.446857 14.555429t-18.870857 37.449143q0 22.308571 18.870857 36.864t43.446857 14.555429q23.405714 0 37.741714-13.970286t14.262857-37.449143zM756.150857 553.179429q0-16.018286-14.555429-28.598857t-37.449143-12.580571q-15.433143 0-28.306286 12.873143t-12.873143 28.306286q0 16.018286 12.873143 28.891429t28.306286 12.873143q22.820571 0 37.449143-12.580571t14.555429-29.110857zM621.275429 263.460571q0-23.405714-13.970286-37.741714t-37.449143-14.262857q-24.576 0-43.446857 14.555429t-18.870857 37.449143q0 22.308571 18.870857 36.864t43.446857 14.555429q23.405714 0 37.449143-13.970286t13.970286-37.449143zM984.137143 553.179429q0-16.018286-14.848-28.598857t-37.156571-12.580571q-15.433143 0-28.306286 12.873143t-12.873143 28.306286q0 16.018286 12.873143 28.891429t28.306286 12.873143q22.308571 0 37.156571-12.580571t14.848-29.110857zM832.146286 326.290286q-17.700571-2.267429-40.009143-2.267429-96.548571 0-177.737143 44.032t-127.707429 119.149714-46.592 164.278857q0 44.544 13.165714 86.820571-19.968 1.682286-38.838857 1.682286-14.848 0-28.598857-0.877714t-31.451429-3.730286-25.453714-4.022857-31.158857-5.997714-28.598857-5.997714l-144.603429 72.557714 41.179429-124.562286q-165.741714-116.004571-165.741714-279.990857 0-96.548571 55.734857-177.737143t150.820571-127.707429 207.725714-46.592q100.571429 0 190.025143 37.741714t149.723429 104.301714 77.970286 148.845714zM1170.432 646.875429q0 66.852571-39.131429 127.707429t-105.984 110.592l31.451429 103.424-113.737143-62.317714q-85.723429 21.138286-124.562286 21.138286-96.548571 0-177.737143-40.301714t-127.707429-109.421714-46.592-150.820571 46.592-150.820571 127.707429-109.421714 177.737143-40.301714q92.013714 0 173.129143 40.301714t129.974857 109.714286 48.859429 150.601143z" fill="#2c2c2c" p-id="1474"></path></svg>
    </a>
    <a href="/qq_qrcode.jpg" target="_blank" class="mx-3" aria-label="QQ" title="QQ">
        <svg t="1702805010837" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2471" width="24" height="24"><path d="M824.8 613.2c-16-51.4-34.4-94.6-62.7-165.3C766.5 262.2 689.3 112 511.5 112 331.7 112 256.2 265.2 261 447.9c-28.4 70.8-46.7 113.7-62.7 165.3-34 109.5-23 154.8-14.6 155.8 18 2.2 70.1-82.4 70.1-82.4 0 49 25.2 112.9 79.8 159-26.4 8.1-85.7 29.9-71.6 53.8 11.4 19.3 196.2 12.3 249.5 6.3 53.3 6 238.1 13 249.5-6.3 14.1-23.8-45.3-45.7-71.6-53.8 54.6-46.2 79.8-110.1 79.8-159 0 0 52.1 84.6 70.1 82.4 8.5-1.1 19.5-46.4-14.5-155.8z" p-id="2472"></path></svg>
    </a>
    <!--<a-->
    <!--    href="https://www.linkedin.com/in/manuelernestogr"-->
    <!--    target="_blank"-->
    <!--    class="mx-3"-->
    <!--    aria-label="Linkedin"-->
    <!--    title="Linkedin"-->
    <!--&gt;-->
    <!--    <svg-->
    <!--        xmlns="http://www.w3.org/2000/svg"-->
    <!--        width="24"-->
    <!--        height="24"-->
    <!--        viewBox="0 0 24 24"-->
    <!--        style="fill: currentColor;transform: ;msFilter:;"-->
    <!--        ><circle cx="4.983" cy="5.009" r="2.188"></circle><path-->
    <!--            d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"-->
    <!--        ></path>-->
    <!--    </svg>-->
    <!--</a>-->

    <!--<a href="/rss.xml" target="_blank" class="mx-3" aria-label="RSS Feed" title="RSS Feed">-->
    <!--    <svg-->
    <!--        xmlns="http://www.w3.org/2000/svg"-->
    <!--        width="24"-->
    <!--        height="24"-->
    <!--        viewBox="0 0 24 24"-->
    <!--        style="fill: currentColor;transform: ;msFilter:;"-->
    <!--        ><path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"></path><path-->
    <!--            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"></path><circle cx="6" cy="18" r="2"-->
    <!--        ></circle>-->
    <!--    </svg>-->
    <!--</a>-->
</div>
